.jumbotron {
  background-image: linear-gradient(to left, rgb(18, 18, 19), #e4e6ebf1);
  color: #fff;
}

.square {
  border-radius: 0px;
}

.pointer {
  cursor: pointer;
}

h1 {
  text-shadow: 2px 2px 5px black;
}

div {
  box-shadow: 4px 4px 8px ;
}